@model IEnumerable<Railwaytrackingandtimings.StationTrainDetail>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}
@using GridMvc.Html
<h3></h3>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td class="col-xs-4"></td>
                <td>
                    <span>Enter Train No: </span>
                </td>
                <td>
                    @Html.Editor("txttrainid", "", new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Search BY Station", "Trainsbystation", "Home")
                    @Html.ActionLink("Share", "Trainsbystation", "Home")
                </td>
            </tr>
            <tr>
                <td colspan="3"> 
                @if (ViewBag.Delay != null)
                {
                    <span>Train runing @ViewBag.Delay delay.</span>
                }</td>
            </tr>
        </table>
        <br/>

    }
    <div class="col-xs-12 col-sm-1">

    </div>
    <div class="col-xs-12 col-sm-10" style="box-shadow: 0px 0px 5px 2px; background-color: azure;">
        <span class="text-danger">@ViewBag.Error</span>
        
       @if (Model != null)
       {
          
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.TrainId).Titled("Train No").Filterable(false);
       columns.Add(c => c.StationName).Titled("Station Name").Filterable(false);
       columns.Add(c => c.ArrivalTime).Titled("Arrival Time").Filterable(false);
       columns.Add(c => c.DepatureTime).Titled("Depature Time").Filterable(false);
       columns.Add(c => c.StationCode).Titled("Station Code").Filterable(false);

   })
       }
    </div>
    <div class="col-xs-12 col-sm-1">

    </div>

</div>
