@model IEnumerable<Railwaytrackingandtimings.StationTrainDetail>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}
@using GridMvc.Html
<h3></h3>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td class="col-xs-4"></td>
                <td style="padding-right:10px">
                    <span>Enter Train No: </span>
                </td>
                <td style="padding-right:10px">
                    @Html.Editor("txttrainid", "", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.Hidden("hdntrianid", (object)ViewBag.hdnTrainid)
                </td>
                <td style="padding-right:10px">
                    <input type="submit" id="btntrainsearch" value="Search" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink(" Search by Station", "Trainsbystation", "Home",new { @class= "fa fa-search" })
                    @*@Html.ActionLink("Share", "Trainsbystation", "Home")*@
                </td>
            </tr>
            
        </table>
        <table>
            <tr><td class="col-xs-1"></td><td colspan='3' ><span class="text-success">@ViewBag.Sucess</span></td></tr>
            <tr><td class="col-xs-1"></td><td colspan='3'><span class="text-danger">@ViewBag.OauthErr</span></td></tr>
            <tr>
                <td  class="col-xs-1"></td>
                <td >
                    @if (ViewBag.Delay != null)
                {
                        <span style="color:darkblue"><b>Delay:</b><b style="color:darkred"> @ViewBag.Delay</b> Min<br />   </span>
                    }
                    @if (ViewBag.stationame != null)
                    {
                        <span style="color:darkblue"><b>Next Station:</b> @ViewBag.stationame</span><br />
                        <span style="color:darkblue"><b>Expected Arrival:</b> @ViewBag.Arrivaltime</span><br />
                    }
                </td>
                <td class="col-md-7 ">
                    
                </td>
                <td>
@if (ViewBag.stationame != null)
{
                    <a class="glyphicon glyphicon-map-marker" href="https://www.google.com/maps/search/?api=1&query=@ViewBag.stationame" target="_blank">
                        Location &nbsp;                    </a> 
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-share"></span> Share
                    </button>
}
                </td>
            </tr>
           
        </table>
        <br/>

    }
    <div class="col-xs-12 col-sm-1">

    </div>
@if (Model != null)
{

    <div class="col-xs-12 col-sm-10" style="box-shadow: 0px 0px 5px 2px; background-color: azure;">
        <span class="text-danger">@ViewBag.Error</span>
        
      
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.TrainId).Titled("Train No").Filterable(false);
       columns.Add(c => c.StationName).Titled("Station Name").Filterable(false);
       columns.Add(c => c.ArrivalTime).Titled("Arrival Time").Filterable(false);
       columns.Add(c => c.DepatureTime).Titled("Depature Time").Filterable(false);
       columns.Add(c => c.StationCode).Titled("Station Code").Filterable(false);

   })

    </div>
}
    <div class="col-xs-12 col-sm-1">
        
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
@using (Html.BeginForm("Share","Home"))
{
            <!-- Modal content-->
            <div class="modal-content" style="width: 60%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share</h4>
                </div>
                <div class="modal-body">
                    @*<div class="form-horizontal">*@   
                    <table style="width:100%">
                        @*<tr>
                            <td>
                                @Html.Label("Mobile No", htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td>
                                @Html.Editor("mobileno", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>*@
                        <tr>
                            <td>
                                @Html.Label("Email Id", htmlAttributes: new { @class = "control-label " })
                            </td>
                            <td >
                                @Html.Editor("txtEmailid", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr><br/>
                        <tr>
                            <td> </td>
                            <td style="padding-top: 10%;padding-left: 10%" >
                                <button type="submit" id="btnsharesubmit" class="btn btn-default btn-sm" >
                                    <span class="glyphicon glyphicon-share"></span> Share
                                </button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <span id="lblStatus" class="alert-danger"></span>
                            </td>
                        </tr>
                    </table>
                    @Html.Hidden("hdntrianid", (object)ViewBag.hdnTrainid)
                    @Html.Hidden("hdnarrivaltime", (object)ViewBag.Arrivaltime)
                    @Html.Hidden("hdnNextstat", (object)ViewBag.stationame)
                    @Html.Hidden("hdnDelay", (object)ViewBag.Delay)
                        @*<div class="form-group">
                           
                            <div class="col-md-10">
                               
                            </div>
                        </div>*@

                        @*<div class="form-group">
                           
                            <div class="col-md-10">
                               

                            </div>
                        </div>*@
                  

                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Share" class="btn btn-default" />
                            </div>
                        </div>*@
                       
                    @*</div>*@
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
            </div>
}
        </div>
    </div>

</div>
@section Scripts
{
    <script type="text/javascript">

        $(function () {
            $('#btnsharesubmit').click(function () {
                if ($("#txtEmailid").val() == '') {
                    $("#lblStatus").text("Email should not be blank");
                    return false;
                }   
                
                var Email = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!Email.test($("#txtEmailid").val())) {
                    $("#lblStatus").text("Please enter valid Email id");
                    return false;
                }

                return true;
            });
            $('#btntrainsearch').click(function () {
                if ($("#txttrainid").val() == '') {
                    alert("Please Provide the Train Number");
                    return false;
                }

                var numbers = /^[0-9]+$/;
                if (!$("#txttrainid").val().match(numbers)) {
                    alert("Train Number Should be Numaric");
                    return false;
                }
                return true;
            });
        });

    </script>
}

